/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ======font family=========
font-family: "Roboto", sans-serif;
*/

:root{

    --blueColor: #0E2E43;

  --gray10: #F2F3F5;
  --gray20: #E5E7EB;
  --gray40: #9CA3AF;

  --redColor: #EE4444;
  --thmColor: #BAFF66;
  --bodyText: #1C2042;
  --textColor: #38439B;
  --offColor: #6B7280;

  --f18 : 18px;
  --f20 : 20px;
  --f22 : 22px;
  --f24 : 24px;
  --f28 : 28px;
  --f30 : 30px;
  --f32 : 32px;
  --f36 : 36px;
  --f40 : 40px;
  --f48 : 48px;

}


body {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--bodyText);
  background: linear-gradient(180deg, #F7F7F7 0%, #EDEDED 100%);
}

.btm__space {
    padding-bottom: 120px;
}

img{
  max-width: 100%;
}
  
button {
  cursor: pointer; 
  border: none;
  padding: 0;
  background: none;
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 600;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 
.thm_btn{
    background: #0E2E43;
    color: #fff;
    border-radius: 30px;
}

/* default-css END 
================================== */
.header-area {
}
.container {max-width: 1250px;}

.header__content {display: flex;align-items: center;gap: 20px;padding: 24px 20px 16px;box-shadow: 0 0 10px rgb(186 255 102 / 40%);border-radius: 0 0 30px 30px;background: #fff;}

.header__content > i {
    height: 40px;
}
.logo {flex-shrink: 0;}
.user_icon {
    flex-shrink: 0;
}

.user_icon a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px #00000040;
    border-radius: 50%;
}

.lng__blk {flex-shrink: 0;position: relative;}


.lng_list li {
    padding: 10px;
}

.lng_list li a {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 14px;
}

.lng_list li a i {
    width: 16px;
    height: 16px;
    border: 1px solid #D1D5DB;
    border-radius: 50%;
}

.lng_list li a.active i {
    background: #000;
    border-color: #000;
}


.lng__blk .header__opt,.notifi__blk .header__opt {opacity: 0;z-index: -1;pointer-events: none;}

.lng__blk.show .header__opt,.notifi__blk.show .header__opt {
    opacity: 1;
    z-index: 99;
    pointer-events: all;
}

.lng_btn {font-size: 22px;width: 40px;height: 40px;}

.header__opt {
    position: absolute;
    background: #fff;
    z-index: 99;
    left: -10px;
    box-shadow: 0px 2px 10px 0px #00000033;
    top: 49px;
    min-width: 300px;
    padding: 20px 16px 16px;
    border-radius: 20px;
    transition: all .3s;
}

.header__opt h5 {
    margin: 0;
    color: var(--textColor);
}

.form-check-input {width: 16px;height: 16px;}
.form-check-label {color: #4B4B4B;}
.notifi__blk {
    flex-shrink: 0;
    position: relative;
}

.notifi__blk .header__opt {
    width: 310px;
}

.header__opt hr {
    margin: 10px 0;
}

.header__opt > a {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--textColor);
    display: block;
    padding-top: 5px;
}
.notifi_btn {font-size: 20px;position: relative;}

.show .notifi_btn,.show .lng_btn {
    color: var(--textColor);
}

.notifi_btn span {
    width: 8px;
    height: 8px;
    display: block;
    background: #EB6F70;
    border-radius: 50%;
    position: absolute;
    top: 6px;
}


.notifi_list ul {
    height: 324px;
    overflow: auto;
    padding-right: 15px;
    padding-bottom: 10px;
}
.notifi_list ul::-webkit-scrollbar{
    width: 10px;
}
.notifi_list ul::-webkit-scrollbar-thumb{
    background: #D1D5DB;
    border-radius: 30px;
}

.notifi_list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
    transition: all .3s;
}

.notifi_list li:hover {
    color: #0009;
}

.notifi_list li:first-child {
    margin: 0;
}

.notifi_list li span {
    font-size: 12px;
    color: #9CA3AF;
    width: max-content;
    display: block;
    flex-shrink: 0;
}

.notifi_list li p {
    margin: 0;
    font-size: 12px;
}

.notifi_list li h6 {
    font-size: 12px;
    margin: 0;
    line-height: 1.6;
}

.notifi_list li i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 50%;
    flex-shrink: 0;
}
.top-text {background: #BAFF66;padding: 2px 10px;border-radius: 20px;overflow: hidden;float: right;}

.top-text p {
    margin: 0;
    font-size: 12px;
    width: max-content;
}

/* Header section END */


/*============home page dashboard Start =============*/
.box-body {
}

.centared {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.holidays-cont {margin-top: 40px;}

.holidays-img a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
}

.Success__blk {display: flex;background: #E6FEE1;padding: 10px;border-radius: 6px;gap: 20px;color: #2F9A44;position: relative;margin-right: -30px;}

.Success__blk button {
    position: absolute;
    right: 15px;
    font-size: 20px;
}

.Success__blk h6 {
    margin-bottom: 5px;
}

.Success__blk p {
    margin: 0;
}
.time__blk {text-align: center;background: #fff;width: max-content;margin-left: auto;font-size: 18px;font-weight: 500;padding: 12px 20px;border-radius: 6px;}
.order_content {margin-top: 30px;}
.order__blk {display: flex;justify-content: space-between;background: url(../img/od-bg.png);width: 180px;height: 85px;padding: 20px 14px 10px;/* background-size: 180px; */padding-right: 21px;background-repeat: no-repeat;filter: drop-shadow(0px 2px 6px #0002);background-size: contain;}

.order__blk h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.order__blk h6 span {
    display: block;
    font-weight: 400;
    margin-top: 5px;
}

.Announc__blk {background: #fff;margin-top: 20px;border-radius: 20px;padding: 16px;padding-top: 20px;}

.Announc__blk ul {
    height: 310px;
    overflow: auto;
}
.Announc__blk ul::-webkit-scrollbar{
    width: 8px;
}
.Announc__blk ul::-webkit-scrollbar-thumb{
    background: #D1D5DB;
    border-radius: 31px;
}

.Announc__blk ul li i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--gray10);
    border-radius: 50%;
}


.Announc__blk ul li {
    border-top: 1px solid var(--gray20);
    display: flex;
    align-items: start;
    gap: 12px;
    padding-top: 12px;
    margin-bottom: 12px;
    padding-right: 20px;
}

.Announc__blk ul li p {
    margin: 0;
    color: var(--gray40);
    font-size: 14px;
}

.Announc__blk ul li p span {
    color: var(--bodyText);
}

.Announc__blk ul li h6 {
    font-size: 14px;
}

.Announc__blk > h5 {
    color: var(--textColor);
    margin-bottom: 15px;
}
.sales__blk {margin-top: 20px;padding: 24px 30px;background: #fff;box-shadow: 0px 8px 32px 0px #3326AE14;border-radius: 16px;display: flex;align-items: center;gap: 40px;}

.sales__top {display: flex;align-items: center;justify-content: space-between;margin-bottom: 30px;}

.sales__top .select__blk {
    max-width: 150px;
}

.sales__top .select__blk .nice-select {
    border-radius: 30px;
}


.sales__top h5 {
    margin: 0;
    color: var(--textColor);
}
.select__blk {width: 100%;}

.multiColor-ck {font-size: 14px;width: 100px;flex-shrink: 0;}

.multiColor-ck li {
    margin-bottom: 8px;
}

.ckv-1 input:checked {background: #90BE6D;border-color: #90BE6D;}


.ckv-2 input:checked {background: #2D9CDB;border-color: #2D9CDB;}
.ckv-3 input:checked {background: #F9C74F;border-color: #F9C74F;}
.ckv-4 input:checked {background: #279F51;border-color: #279F51;}
.ckv-5 input:checked {background: #F94144;border-color: #F94144;}
.ckv-6 input:checked {background: #F3722C;border-color: #F3722C;}
.ckv-7 input:checked {background: #F8961E;border-color: #F8961E;}
.ckv-8 input:checked {background: #18BAFF;border-color: #18BAFF;}
/*============ home page dashboard End =============*/


/*============fixed-nav bottom Area Start =============*/
.fixed-nav {box-shadow: 0px 0px 8px 0px #BAFF66CC;position: fixed;width: 100%;bottom: 0;background: #fff;padding: 15px 0;left: 0;}
.off-btn {position: absolute;right: 40px;top: 50%;transform: translateY(-50%);}
.fixed-nav__wrp ul {display: flex;align-items: center;justify-content: space-between;width: 30%;}

.fixed-nav__wrp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.fixed-nav__wrp ul li a {
    text-align: center;
    color: #9CA3AF;
    transition: all .3s;
}

.fixed-nav__wrp ul li a:hover {
    color: #000;
}



.fixed-nav__wrp ul li a.active {
    color: #000;
    font-weight: 600;
}

.fixed-nav__wrp ul li a i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}

.fixed-nav__wrp ul li a i img {
    display: block;
}

.fixed-nav__wrp ul li a:hover i svg path {stroke: #BAFF66;}

.fixed-nav__wrp ul li a i svg path {
    transition: all .3s;
}
.center__btn {
}

.center__btn a {
    background: #1C2042;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    top: -47px;
    transition: all .4s;
}

.center__btn a:hover {
    background: #90be6d;
}

.center__btn a img {
    display: block;
}
/*============fixed-nav bottom Area End =============*/


/*============Flights side bar Area Start =============*/
.side__bar {max-width: 320px;height: calc(100vh - 200px);position: fixed;left: 0px;bottom: 80px;background: #fff;border-top-right-radius: 20px;border-top-left-radius: 20px;padding: 20px;font-size: 14px;overflow: auto;}
.top__title {display: flex;align-items: center;justify-content: space-between;margin-bottom: 12px;}

.top__title h6 {
    margin: 0;
}
.Flights__radio__btns {margin-bottom: 20px;}

.Flights__radio__btns ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.from-to__wrp {margin-bottom: 20px;position: relative;}
.action__title {display: flex;align-items: center;justify-content: space-between;margin-bottom: 8px;padding: 0 10px;}

.action__title label {
    font-weight: 600;
    display: block;
}

.action__btn {
    display: flex;
    align-items: center;
    gap: 12px;
}
.from-to__blk {display: flex;border: 1px solid #E5E7EB;border-radius: 50px;padding: 0 10px;}
.ft-input {text-align: left;border-right: 1px solid #E5E7EB;padding: 10px 0;width: 25%;}

.ft-input.lg {
    width: 50%;
}

.ft-input:last-child {
    border: none;
}

.ft-input label {
    color: #D1D5DB;
    margin-bottom: 4px;
    padding-left: 6px;
}

.ft-input input {
    width: 100%;
    border: none;
    /* background: rebeccapurple; */
    text-align: center;
    background: no-repeat;
}
.from-to-bropdown {box-shadow: 0px 2px 6px 0px #0000001A;background: #fff;border-radius: 20px;padding: 16px;position: absolute;width: 100%;margin-top: 10px;opacity: 0;z-index: -1;pointer-events: none;}

.from-to-bropdown ul li .form-check {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.from-to-bropdown.show {
    z-index: 9;
    opacity: 1;
    pointer-events: all;
}
.dash-border {height: 1px;width: 100%;border-top: 1px dashed #9CA3AF;margin-bottom: 20px;display: block;}
.select__wrp {padding-bottom: 10px;}

.select__wrp h6 {
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 14px;
}

.select__wrp h6 span {
    font-weight: 400;
}

.select__wrp .select__blk {height: 40px;}

.select__wrp .select__blk .nice-select {
    border-radius: 30px;
    height: 34px;
    display: flex;
    align-items: center;
}

.select-input-flex {display: flex;align-items: center;gap: 10px;}

.input input {
    border: 1px solid #E5E7EB;
    height: 33px;
    border-radius: 30px;
    padding: 0 10px;
}
.select__blk.disabled {pointer-events: none;}

.select__blk.disabled .nice-select {
    background: #F3F4F6;
    color: #9CA3AF;
}
.filter__btns {box-shadow: 0px 2px 6px 0px #0000001A;/* position: fixed; */bottom: 90px;left: 0;z-index: 99;height: 80px;width: 100%;text-align: center;max-width: 318px;border-radius: 20px 20px 0 0;display: flex;align-items: center;justify-content: center;gap: 10px;background: #fff;}

.filter__btns button {
    padding: 7px 30px;
    font-size: 12px;
    font-weight: 500;
}
.border-btn {
    border: 1px solid;
    border-radius: 30px;
}
/* scroll-style */
.scroll-style::-webkit-scrollbar{width: 8px;border-radius: 20px;position: relative;height: 8px;}
.scroll-style::-webkit-scrollbar-thumb{background: #C1C1C1;border-radius: 20px;}
.scroll-style::-webkit-scrollbar-button{
    background: none;
    
}
/* scroll-style */


/* Date Picker */
.ui.bottom.left.popup {
    margin-left: -120px;
}

.ui.bottom.left.popup:before {
    margin-left: 125px;
}
i.calendar.icon {
    display: none;
}

i.calendar.icon + input {
    padding: 0 !important;
}

.ui[class*="left icon"].input>input {
    padding: 0 !important;
    font-size: 14px;
    border: none;
    height: auto;
    text-align: center;
    width: 52px;
}

/* Date Picker */




/* Time Picker */
i.time.icon {
    display: none;
}
#time-piker .ui.bottom.left.popup:before {
    margin-left: 210px;
}
#time-piker .ui.bottom.left.popup{
    margin-left: -200px;
}

/* time Picker */



/* PriceRange Start */
.PriceRange__blk{position: relative;padding-bottom: 10px;}

.range-chart {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    bottom: 30px;
}
.PriceRange__blk .range-slider {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
.PriceRange__blk p{
    font-size: 12px;
    color: #6B7280;
    font-weight: 600;
    margin-bottom: 40px;
}
.PriceRange__blk .range-slider .rangeValues {
    display: block;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -55px;
    right: 9px;
}
.PriceRange__blk input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    left: 0;
}
.PriceRange__blk input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #E5E7EB;
    border: none;
    border-radius: 3px;
}
.PriceRange__blk input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #5160DA;
    margin-top: -6px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.PriceRange__blk input[type=range]:focus {
    outline: none;
}
.PriceRange__blk input[type=range]:focus::-webkit-slider-runnable-track {
    background: #E5E7EB;
}

/* PriceRange End */


.checkBox__list {
    padding-bottom: 10px;
}

.checkBox__list ul li {
    margin-bottom: 5px;
}

.checkBox__list .form-check label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-left: 4px;
}

.checkBox__list .form-check label span {
    color: #9CA3AF;
}

.checkBox__list h6 {
    color: #6B7280;
    font-size: 12px;
    margin-bottom: 10px;
}
/*============Flights side bar Area End =============*/


/*============ Area Start =============*/
.src__text{}

.src__text span {
    color: #6B7280;
}

.src__text i {
    display: block;
    margin-bottom: 10px;
}



.hotel__wrp {margin-top: 20px;overflow-x: auto;height: calc(100vh - 223px);overflow-x: hidden;overflow-y: auto;padding: 0;}
.scroll-style {
}
.box__style {padding: 20px;border-radius: 20px;background: #fff;}

.hotel__title {
    background: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 14px;
}

.hotel__title p {
    font-size: 12px;
    margin: 0;
}
.fal {
}
.fa-info-circle {
}
.hotel__title .select__blk {width: max-content;display: flex;align-items: center;font-size: 12px;color: #6B7280;height: auto;gap: 5px;}
.select__blk.no-border .nice-select {border: none;padding: 0;font-size: 12px;color: #6B7280;height: auto;}

.select__blk.no-border .nice-select:after {
    display: none;
}
.hotel__blk {margin-bottom: 14px;/* max-width: 350px; */}

.hotel__blk .flex > i {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
    flex-shrink: 0;
}
.flex {display: flex;}
.hotel__info {font-size: 12px;width: 100%;}

.hotel__info ul {
    margin: 4px 0 10px;
}

.hotel__info ul li {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hotel__info ul li i {
    width: 20px;
    display: inline-flex;
    align-items: center;
    height: 20px;
    justify-content: center;
}

.hotel__info h6 {
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
}

.hotel__info h6 span {
    display: inline-block;
    width: max-content;
    margin-left: auto;
}

.hotel__info span {
    color: #6B7280;
    font-weight: 400;
}
.hotel__btm {display: flex;justify-content: space-between;font-size: 12px;align-items: flex-start;text-align: center;}

.hotel__btm button {
    width: 95px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blueColor);
    color: #fff;
    border-radius: 30px;
}

.hotel__btm p {
    color: var(--redColor);
    display: flex;
    align-items: center;
    margin: 0;
    gap: 6px;
}

.hotel__btm p i {
    font-size: 4px;
}
.fas {
}
.fa-circle {
}
.map__wrp {margin-top: 20px;width: 100%;}
.map__blk {overflow: scroll;height: calc(100vh - 220px);}
.long__map {
}
/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/

.f-width{}


/* .f-width .side__bar{
    position: relative;
    bottom: -18px;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.f-width .side__bar .side__content {
    padding: 20px;
    height: calc(100% - 0px);
    overflow: auto;
} */
.f-width .header__content{
    width: calc(100% - 200px);
    margin: auto;
}
.f-width .container-fluid{
    padding: 0 30px;
}
.f-width .filter__btns{
    position: relative;
    max-width: 100%;
    bottom: 0;
}
.f-width .box__style.hotel__blk{
    max-width: 100%;
}
 .f-width{}


 .box__wrp{
    display: flex;
    gap: 30px;
}
 .box__columns1{
    width: 320px;
    flex-shrink: 0;
}
 .box__columns2{
    width: 350px;
    flex-shrink: 0;
}
 .box__columns3{
    width: calc(100% - 700px);
    overflow: hidden;
}


/* ========================================== */

.box_design{}
.box_design{}
.box_design{}
.box_design{}
.box_design{}
.box_design .side__bar{
    position: relative;
    bottom: -17px;
}












 .side__bar{
    position: relative;
    bottom: -18px;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.side__bar .side__content {
    padding: 20px;
    height: calc(100% - 0px);
    overflow: auto;
}